body {
    font-family: Arial, sans-serif;
    background: white;
}
.container {
    width: 350px;
    margin: 50px auto;
    background: rgb(105, 99, 65);
    padding: 20px;
    border-radius: 8px;
}
.form input, .form button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
button {
    background: rgb(61, 52, 2);
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    opacity: 0.9;
    background: rgb(101, 90, 63);
}
ul {
    list-style: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}